{% extends 'base.html.twig' %}

{% block title %}stock edition!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Update stock </h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">edit stock</button>
        {{ form_end(form) }}

    </div>

{% endblock %}
