{% extends 'base.html.twig' %}

{% block title %}Creation stock!{% endblock %}

{% block body %}
<div class="container">
    <h1>Créer stock </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Créer stock</button>
    <a href="/stock/{id}/edit" class="btn btn-primary">modifier</a>
    {{ form_end(form) }}

</div>

{% endblock %}
